<%# if !@emprestimos.empty? %>
  <%#= @emprestimos %>
<!--  <p class="text-sm font-black text-gray-600">Aqui</p>-->
<%# else %>
<!--  <div class="h-screen flex justify-center items-center">-->
<!--    <p class="text-sm font-black text-gray-600">Você ainda não alugou nenhum veículo</p>-->
<!--  </div>-->
<%# end %>

Carros