<!-- component -->
<div>
      <nav class="flex flex-col bg-blue-800 w-64 h-screen px-4 tex-gray-900 border border-blue-600">
        <div class="flex flex-wrap mt-8">
          <div class="mr-4 ">
            <i class="fa-sharp fa-solid fa-circle-user text-white text-2xl  "></i>
          </div>
          <div class="w-auto">
            <span class="font-semibold text-white">Perfil</span>
            
          </div>
        </div>
        <div class="mt-10 mb-4">
          <ul class="ml-4">
            <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
              <span>
              <i class="fa-sharp fa-solid fa-list"></i>
              </span>
              <a href="#">
                <span class="ml-2">Minha Reservas</span>
              </a>
            </li>
            
            <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
              <span>
              <i class="fa-sharp fa-solid fa-car"></i>
              </span>
              <a href="#">
                <span class="ml-2">Nova Reserva</span>
              </a>          
            </li>
            <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
              <span>
              <i class="fa-solid fa-network-wired"></i>
              </span>
              <a href="#">
                <span class="ml-2">Grupos de Carros</span>
              </a>
            </li>
            <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
              <span>
              <i class="fa-solid fa-user"></i>
              </span>             
                <span class="ml-2">Informações Pessoais</span>
              </a>
            </li>
            <li class="mb- px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
              <span>
               <i class="fa-sharp fa-solid fa-gear"></i>
              </span>
              <a href="#">
                <span class="ml-2">Configurações</span>
              </a>
            </li>
            <li class="mb- px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
              <span>
              <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
              </span>
              <a href="#">
                <span class="ml-2">Sair</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
          </ul>
        </div>
      </nav>
    </div>
    

